
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <link rel="icon" type="image/png" href="/images/image1.png"/>
    <meta property="og:url"   content="🎆Verified"/>
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Create Diwali Wish" />
    <meta property="og:description"        content="Happy Diwali" />
    <meta property="og:image"              content="/images/image1.png" />
    <title>Happy Diwali</title>
</head>

<body style="background-image:url(./images/a.gif);background-size: cover"; class="bg-dark">
    
        <div class="col"></div> 
        <div class="col">
            <div class="card "> 
       
                <div class="card-body">

                    <form action="/submit" method="post">
                    
                        <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name <span style="color: red;">*</span></label>
                        <input type="text" name="uname" class="form-control" required>
                        </div>
                 

                    
                        
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Friend's Name <span style="color: red;">*</span></label>
                                <input type="text" name="wname" class="form-control"  required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Friend's Email address <span style="color: red;">*</span></label>
                                <input type="email" name="email" class="form-control" 
                                    aria-describedby="emailHelp" required>
                                
                            </div>

                            <button id="btn2"   class="btn btn-primary" type="submit">Create</button>

                        
                    </div>
                   
                   
                    
                 
                    </form>
                </div>
            </div>
        </div>
        <div class="col "></div>

    </div>
</body>

</html>